.container {
    margin: 0 0.4rem;
    height: 86vh;
    border-radius: 1rem;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-items {
    margin-top: 1.5rem;
} 

table {
    border: 1px solid #684A3D;
    border-radius: 8px; /* Bordas arredondadas em cada célula */
    padding: 10px;
  }

table {
    width: 90%;
    border-collapse: separate;
}
th, td {
    border-bottom: 1px solid #684A3D;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #684A3D;
    color: #EAE2D6;
}

.item-id-style {
    width: 10rem;
    text-align: center;
}

.item-brand-style {
    width: 5rem;
    text-align: center;
}

.item-quantity-style {
    width: 10rem;
    text-align: center;
}

.item-name-style {
    width: 10rem;
    text-align: center;
}

.item-category-style {
    width: 10rem;
    text-align: center;
}

.item-stock-style {
    display: inline-block;
    width: 8rem;
    text-align: center;
}

.item-tooltip-stock-style {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.item-tooltip-stock-style:hover + .tooltip-container {
    visibility:visible;
    
}

.item-actions-style {
    width: 12rem;
    text-align: center;
}

.actions {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0 0.5rem;
}

.item-date-style {
    width: 10rem;
    text-align: center;
}

.tooltip-container {
  position: absolute;
  transform: translateX(-80%) translateY(-250%);
  background-color: #B39C85;
  width: fit-content;
  height: fit-content;
  color: #000000;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #684A3D;
  white-space: nowrap;
  visibility: hidden;
  transition: opacity 0.3s ease;
  font-weight: bold;
}

.pagination-style {
    text-align: center;
}


.pagination {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
  
.pagination button {
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #684A3D;
    color: #EAE2D6;
    border-radius: 5px;
}

.container-search { 
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.button-add-item {
    background-color: #684A3D;
    color: #EAE2D6;
    border: 1px solid #684A3D;
    border-radius: 1rem;
    width: 7rem;
    height: 3rem;
    margin-top: 4rem;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.button-add-item:hover {
    background-color:#EAE2D6;
    color: #684A3D;
}