.container {
    margin: 0 0.4rem;
    height: 86vh;
    border-radius: 1rem;
    opacity: 40%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.list-items {
    height: 80%;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.item {
    width: 100%;
    height: 3.5rem;
    border: 1px solid #684A3D;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
}

.item-title{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
}

.item-id-style {
}

.item-brand-style {
}

.item-quantity-style {
}

.item-name-style {
    width: 5rem;
}

.item-category-style {
    width: 5rem;
}

.item-tooltip-stock-style {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.item-tooltip-stock-style:hover + .tooltip-container {
    visibility:visible;
    
}

.item-actions-style {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

.actions {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.item-date-style {
}

.item-stock-style {
    position: relative;
    display: inline-block;
}

.tooltip-container {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  color: #000000;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #684A3D;
  white-space: nowrap;
  visibility: hidden;
  transition: opacity 0.3s ease;
  font-weight: bold;
}
