@if (isEditModal) {
    <app-edit-items [IsCreated]="isCreated" [Product]="ProductSelected" (CloseModalEditItemEmit)="closeModal($event)"/>
}
<div class="container">
    <div class="container-search">
        <app-search-bar (SearchInputEmit)="filter($event)" />
        <button class="button-add-item" (click)="openModal(true)">Adicionar</button>
    </div>
    <table class="list-items">
        <thead class="header-style">
            <th>
                Cód
            </th>
            <th>
                Nome
            </th>
            <th>
                Marca
            </th>
            <th>
                Qtd
            </th>
            <th>
                Categoria
            </th>
            <th>
                Estoque
            </th>
            <th>
               Ações
            </th>
            <th>
                Atualização
            </th>
        </thead>
        <tbody>
            @for (item of items; track $index) {
                <tr class="item">
                    <td class="item-id-style">
                        {{item.sequencialId}}
                    </td>
                    <td class="item-name-style">
                        {{item.name}}
                    </td>
                    <td class="item-brand-style">
                        {{item.details?.brand || "Sem Marca"}}
                    </td>
                    <td class="item-quantity-style">
                        {{item.stock?.quantityTotal}}
                    </td>
                    <td class="item-category-style">
                        {{item.category?.name}}
                    </td>
                
                    <td class="item-stock-style">
                        <img class="item-tooltip-stock-style" src="./assets/estoque-pronto.png"/>
                        @if (item?.stock?.productId) {
                            <div class="tooltip-container">
                                <div>Preço Fabrica: R$ {{item.stock?.factoryPrice}}</div>
                                <div>Magem Lucro: {{item.stock?.profitMarginPercent}}%</div>
                                <div>Preço Venda: R$ {{item.stock?.salePrice}}</div>
                                <div>Atualização Preço: {{item?.stock?.createDate ? item?.stock?.createDate : item?.stock?.updateDate}}</div>
                                <div>Quantidade: {{item.stock?.quantityTotal}} und</div>
                            </div>
                        } @else {
                            <div class="tooltip-container">
                                <div>Não tem estoque cadastrado</div>
                            </div>
                        }
                    </td>
                    
                    <td class="item-actions-style">
                        <img title="Editar" (click)="openModal(false, item)" class="actions" src="./assets/botao-editar.png"/>
                        
                        @if (item.deleted) {
                            <img (click)="disableProduct(item.id, !item.deleted)"  title="Habilitar" class="actions" src="./assets/habilitar.png"/>
                        } @else {
                            <img (click)="disableProduct(item.id, !item.deleted)" title="Desabilitar" class="actions" src="./assets/desabilitar.png"/>
                        }
                        
                        <img  title="Excluir" class="actions" (click)="deleteProduct(item.id)" src="./assets/excluir.png"/>
                    </td>
                    <td class="item-date-style">
                        {{item?.createDate ? item?.createDate : item?.updateDate}}
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <tfoot>
        <app-pagination
            [totalPages]="totalPages"
            [currentPage]="currentPage"
            (pageChange)="filter(search, $event)"
        />
    </tfoot>
</div>
