<div class="container-footer-primary background-color-secondary">
    <div class="box-link-primary">
        <h3>Conheça-nos</h3>
        <a class="box-link-primary-item ">Sobre a Caneko</a>
        <a class="box-link-primary-item ">Portal de Privacidade</a>
        <a class="box-link-primary-item ">Termos de Uso</a>
        <a class="box-link-primary-item ">Acessibilidade</a>
    </div>
    <div class="box-link-primary">
        <h3>Pagamento</h3>
        <a class="box-link-primary-item ">Meios de Pagamento</a>
        <a class="box-link-primary-item ">Cartão de Crédito</a>
    </div>
    <div class="box-link-primary">
        <h3>Seja um parceiro</h3>
        <a class="box-link-primary-item ">Vendas no atacado</a>
    </div>
    <div class="box-link-primary">
        <h3>Deixe-nos ajudar você</h3>
        <a class="box-link-primary-item ">Sua conta</a>
        <a class="box-link-primary-item ">Frete e prazo de entrega</a>
        <a class="box-link-primary-item ">Devoluções e reembolsos</a>
        <a class="box-link-primary-item ">Ajuda</a>
    </div>
</div>
