.container {
    display: grid;
    grid-template-columns: 30% 70%;
    min-height: 31.25rem;
}

.sidebar-column {
    margin: 1.25rem 1.25rem 3.125rem 0;
    grid-column: 1;
}

.box-show {
    grid-column: 2;
    margin: 1.25rem 0;
}