<div class="container-footer-secondary background-color-primary">
    <div class="container-footer-secondary-item">
        Siga nossos canais oficiais: 
        <a href="">
            <img class="img-secondary-item" src="./assets/instagram.png"/>
        </a>
        <a href="">
            <img class="img-secondary-item" src="./assets/whatsapp.png"/>
        </a>
    </div>
    <div>
        Caneko Serviços de Varejo do Brasil Ltda. | CNPJ xx.xxx.xxx/xxxx-xx
    </div>
    <div>
        Av. Gracindo de Freitas Medeiros, n° 249 - Jardim Europa, Feira de Santana - BA  CEP: 44057-310| Fale conosco| suporte-caneko&#64;gmail.com.br"
    </div>
    <div>
        Formas de pagamento aceitas: cartões de crédito (Visa, MasterCard, Elo e American Express), cartões de débito (Visa e Elo), Boleto e Pix.
    </div>
</div>