<div class="container">
    <div class="container-box">
        <img class="mascot-img" src="./assets/header-mascot.png"/>
        <div class="container-item">CANEKO</div>
    </div>
    <div class="container-button">
        <button class="button-custom button-custom-simple">Home</button>
        <button class="button-custom button-custom-simple">About</button>
        <button class="button-custom button-custom-simple">Explore</button>
        <button class="button-custom button-custom-login">Login</button>
    </div>
</div>
